{% extends "base_2C.html" %}
{% load static %}
{% load bootstrap4 %}
{% block cadre_master %}
                <div class="row h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-10 align-self-end">
                        <h1 class="text-uppercase text-white font-weight-bold">{{ data.name }}</h1>
                        <hr class="divider my-4" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <h2><p class="text-white-75 font-weight-light mb-5">Voici votre compte</p></h2>
                {% if messages %}
                    <ul class="messages">
                {% for message in messages %}
                    <il {% if message.tags %} class="{{ message.tags }}" {% endif %}><h2><p id="information" class="text-white-75 font-weight-light">{{ message }}</p></h2></il>
                {% endfor %}
                    </ul>
                {% endif %}
                        </div>
                    </div>
                </div>
{% endblock %}
<!-- About-->
{% block cadre_about %}
                <div class="row">
                    <div class="d-flex">
                        <div class="card mb-4 shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225px" xmlns="https://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="placeholder: Un produits">
                                <title>Informations sur le compte {{user.username}}</title>
                                <rect width="100%" height="100%" fill="#55595c"></rect>
                                <image xlink:href='/static/assets/img/bg-masthead.jpg' x="-50%" y="-50%"/>
                            </svg>
                            <div class="card-body">
                                <p class="card-text text-center">
                                    Informations de votre compte
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                <div class="form-group row">
                                    <label for="email" class="col-sm-4 col-lg-4 col-form-label">Votre courriel</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" readonly class="form-control-plaintext" id="email" value="{{ user.email }}">
                                    </div>
                                    <label for="first" class="col-sm-4 col-lg-4 col-form-label">Votre Prénom</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" readonly class="form-control-plaintext" id="first" value="{{ user.first_name }}">
                                    </div>
                                    <label for="last" class="col-sm-4 col-lg-4 col-form-label">Votre Nom</label>
                                    <div class="col-sm-8 col-lg-8">
                                        <input type="text" readonly class="form-control-plaintext" id="last" value="{{ user.last_name }}">
                                    </div>
                                </div>
                                <a role="button" action="submit" class="btn btn-sm btn-outline-secondary" href="edit/"><img class="img-fluid" src="{% static 'assets/img/editer.png' %}" style="height: 50px;width: auto;" alt="" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}
